<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
	<test name="RwProjectTest">
		<classes>
			<class name="by.rw.test.SimpleTest">
<!--				<methods>-->
<!--					<include name="collectTrainsInformation"/>-->
<!--				</methods>-->
			</class>
			<class name="by.rw.test.SimpleTestWithProxy">
			</class>
		</classes>
	</test>
</suite>